
<template>
  <div class="uk-animation-slide-top-small">
    <ul uk-tab class="heading">
      <li v-bind:class="{ 'uk-active': allActive }" @click='activator("all")'><a href="#">All</a></li>
      <li v-bind:class="{ 'uk-active': newActive }" @click='activator("new")'> <a href="#" >Create</a></li>
      <li v-bind:class="{ 'uk-active': artistActive , 'uk-disabled': artistNotActive }" @click='activator("artist")'><a href="#">Artist</a></li>
    </ul>
    <new-artist-form v-if="active === 'new'"></new-artist-form>
    <all-artists-list v-if="active === 'all'"></all-artists-list>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            active: 'all',
            allActive: true,
            newActive: false,
            artistActive: false,
            artistNotActive: true
          }
        },
        methods: {
          activator: function(val) {
            this.active = val;
          }
        }
    }
</script>
