
<template>
  <div class="uk-width-3-4 uk-padding">

    <admin-sessions v-if="activeTab == 'sessions'"></admin-sessions>
    <admin-genres v-if="activeTab == 'genres'"></admin-genres>
    <admin-artists v-if="activeTab == 'artists'"></admin-artists>
    <admin-images v-if="activeTab == 'images'"></admin-images>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: [ 'value' ],
        data: function() {
          return {
            activeTab: 'sessions'
          }
        },

        watch: {
          value: function(val) {
            this.activeTab = this.value;
            console.log(this.activeTab)
          }
        }
    }
</script>
