#app {
  display: none;
}

body {
  font-family: $font-family-text;
}

.navbar {
  height: 6rem;
  padding: 2rem;
}

#logo {
  font-family: $font-family-logo;
  font-size: 24px;
  color: black;
}

.heading {
  font-family: $font-family-heading;
  font-weight: 600;
}
