
<template>
  <div class="uk-padding uk-animation-slide-right-small">
    <form>
      <fieldset class="uk-fieldset">

          <legend   class="uk-legend heading">{{title}}</legend>

          <div class="uk-margin">
              <label class="uk-form-label" for="title">Title</label>
              <input v-model="title" class="uk-input" type="text" placeholder="New Session" name="title">
          </div>

          <div class="uk-margin uk-width-1-4@s">
              <label class="uk-form-label" for="genre">Genre</label>
              <select class="uk-select" name="genre">
                  <option>IDM</option>
                  <option>Post-Rock</option>
              </select>
          </div>

          <div class="uk-margin">
              <label class="uk-form-label" for="artwork">Artwork</label>
              <input class="uk-input" type="text" placeholder="artwork url" name="artwork">
          </div>

          <div class="uk-margin">
          <label class="uk-form-label" for="content">Content</label>
              <textarea class="uk-textarea" rows="5" placeholder="Textarea" name="content"></textarea>
          </div>
          <track-list></track-list>
      </fieldset>
    </form>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            title: ""
          }
        }
    }
</script>
