
<template>
  <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Artist">
      </div>
      <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Track title">
      </div>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            //some data
          }
        },
        methods: {
          // Do something
        }
    }
</script>
